.Menu {
  transition: all 0.3s;
}
@media (max-width: 640px) {
  .Menu {
    position: absolute;
    z-index: 20;
    left: 1.5rem;
    right: 1.5rem;
    top: -250%;
    will-change: top;
    background-color: #ffd93e;
    border-radius: 10px;
    text-align: left;
    padding: 1rem;
  }
}
